{{!< default}}
<div id="rainbow-border" style="background:#d67545;"></div>
<section id="mogan-content-detail" role="main">
  <article class="mogan-post-detail colored-border {{post_class}}">
    <div>
      {{#post}}
        <header class="container">
          <h1>{{{title}}}</h1>

          <div class="meta">
            <span>last updated on </span>
            <time datetime="{{date format='YYYY-MM-DD'}}" itemprop="dateUpdated">{{date format="MMMM D, YYYY"}}</time>
          </div>
        </header>

        <section class="content">{{content}}</section>

        <footer class="container">
          <section class="container">
            <h3>Share this page</h3>
            <a class="button icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
              <span class="hidden">Twitter</span>
            </a>
            <a class="button icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
              <span class="hidden">Facebook</span>
            </a>
            <a class="button icon-googleplus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
              <span class="hidden">Google+</span>
            </a>
          </section>
        </footer>
      {{/post}}
    </div>
  </article>
</section>
