{{!< default}}
<section id="mogan-content-detail" role="main">
  <article class="mogan-post-detail colored-border {{post_class}}" itemscope="" itemtype="http://schema.org/BlogPosting">
    <div>
      {{#post}}
        <header class="container">
          <h1 itemprop="name headline">{{{title}}}</h1>

          <div class="meta">
            <div class="author_name_hide">Written by <span itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">Adam McArthur</span></span> on </div><time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="MMMM D, YYYY"}}</time>
          </div>
        </header>

        <section class="content" itemprop="articleBody">{{content}}</section>
      {{/post}}
    </div>

    {{> disquss}}
  </article>
</section>
